auth-backend/venv
auth-frontend/dist
auth-frontend/node_modules
auth-frontend/.nuxt
.idea
.envrc
*.pyc
.terraform
baremetal/fixture.tfvars
baremetal/terraform.rfstate
baremetal/terraform.rfstate.backup
provision/snkrs.apk
